<?xml version="1.0"?>

<config>
    <modules>
        <Goles_Classifieds>
            <version>1.0.0.0</version>
        </Goles_Classifieds>
    </modules>
    <global>
        <models>
            <classifieds>
                <class>Goles_Classifieds_Model</class>
            </classifieds>
        </models>
        <helpers>
            <classifieds>
                <class>Goles_Classifieds_Helper</class>
            </classifieds>
        </helpers>
        <blocks>
            <classifieds>
                <class>Goles_Classifieds_Block</class>
            </classifieds>
        </blocks>
        <resources>
            <classifieds_setup>
                <setup>
                    <module>Goles_Classifieds</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </classifieds_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <classifieds>
                <use>standard</use>
                <args>
                    <module>Goles_Classifieds</module>
                    <frontName>ads</frontName>
                </args>
            </classifieds>
        </routers>
        <layout>
            <updates>
                <classifieds>
                    <file>classifieds.xml</file>
                </classifieds>
            </updates>
        </layout>
    </frontend> 
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <classifieds_design>
                                            <title>Classifieds</title>
                                        </classifieds_design>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <design>
            <package>
                <name>bootstrap</name>
            </package>
        </design>
    </default>  
</config>
